.container {
  padding-top: 80px; 
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: cyan;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.button {
  background-color: grey;
}